$white: rgb(255,255,255);
$white2: rgb(255,249,238);
$purple:rgb(81, 41, 111);
$pink: rgb(180, 47, 125);
$purple_light:rgb(107, 73, 132);
$orange: rgb(249, 177, 50);
//------------
$base_color: $purple;
$clolor_nav: $white;
$clolor_nav_active: rgb(255, 210, 130);
$color_sign_active:$orange;
$color_dropDown: $white2;

$shadow_dpopDown: 0px 0px 12px 0px rgba(0, 0, 0, 0.34);
