<!--- Begin FirstSetion -->
    <div class="firstSection">
  <div class="wrapper">
    <h1 class="firstSection__title">
      Add GOODS.
    </h1>
    <div class="firstSection__container">
      <div class="box">
        <div class="box__container">
          <h3 class="box__title">Goods 1</h3>
          <img src="../img/computer.png">
          <button class="btn" onclick='addGoods()'>Add</button>
        </div>
      </div>
      <div class="box">
        <div class="box__container">
          <h3 class="box__title">Goods 2</h3>
          <img src="../img/computer.png">
          <button class="btn" onclick='addGoods()'>Add</button>
        </div>
      </div>
      <div class="box">
        <div class="box__container">
          <h3 class="box__title">Goods 3</h3>
          <img src="../img/computer.png">
          <button class="btn" onclick='addGoods()'>Add</button>
        </div>
      </div>
      <div class="box">
        <div class="box__container">
          <h3 class="box__title">Goods 4</h3>
          <img src="../img/computer.png">
          <button class="btn" onclick='addGoods()'>Add</button>
        </div>
      </div>
      <div class="box">
        <div class="box__container">
          <h3 class="box__title">Goods 5</h3>
          <img src="../img/computer.png">
          <button class="btn" onclick='addGoods()'>Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--- End FirstSetion -->